{
  "tabWidth": 2,
  "useTabs": false,
  "editor.formatOnSave": true,
  "eslint.autoFixOnSave": true,
  "editor.codeActionsOnSave": {
    "source.fixAll.tslint": true
  },
  "trailingComma": "all",
  "singleQuote": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "parser": "babel",
  "arrowParens": "avoid"
}
