.icon {
  margin-right: 5px;
}

body {
  background-color: #eee !important;
}

nav form button {
  width: 150px;
}

@media screen and (max-width: 480px) {
  form button {
    margin-top: 5px;
    position: relative;
    left: calc(50% - 75px);
  }
}