h1 {
    font-weight: bold;
}

.contentWrapper {
    margin: 40px 16px;
}

.movieCard {
    max-width: 280px;
    display: inline-grid;
    margin: 10px;
}

.MuiCardActions-spacing {
    background-color: aliceblue;
    height: 40px;
    cursor: pointer;
}

.MuiCardActions-spacing:hover {
    background-color: antiquewhite;
}

.redIcon {
    fill: red !important;
}

.MuiCardMedia-img {
    object-position: top;
}

.h2-movie{
    font-size: 17px !important;
    text-align: center;
}

.MuiCardContent-root {
    height: 70px;
}

#transition-modal-title {
    text-align: center;
}

@media (max-width: 980px) {
	html {
        height: -webkit-fill-available;
    }

    body {
        height: 100vh;
    }

    #app {
        height: inherit;
    }
    
    .wrapper > .container {
        height: inherit;
    }
}