.summary-card {
    width: 20rem;
    color: white;
    text-align: center;
    display: inline-block;
    margin-right: 30px;
}

.imgContainer {
    width: 35%;
    font-size: 42px;
}

.db-container {
    display: inline-block;
}

.bg-info {
    background-color: #17A2E2!important;
}