._1qv9 {
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    height: 27px;
    line-height: 28px;
    padding: 0 3px 1px;
    position: relative;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    margin-left: 10px;
}

._2qgu._2qgu {
    border-radius: 50%;
    overflow: hidden;
}
._7ql {
    border-radius: 2px;
    display: inline;
    margin: 2px 6px 2px -8px;
    vertical-align: inherit;
}

._1m6h {
    height: 24px;
    width: 24px;
}
img {
    border: 0;
}